.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #00b8a9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#controls {
  font-size: 15px;
  color: black;
}

#footer {
  text-align: center;
  font-size: 0.8em;
  font-family: "Alata", Arial, sans-serif;
  position: fixed;
  bottom: 25px;
  color: white;
  left: 0;
  right: 0;
  margin-top: 50px;
}

a {
  color: white;
}

#board {
  line-height: 0;
}

.row > input {
  width: 3ch;
  height: 3ch;
  text-align: center;
  border-width: 1px;
  border-style: solid;
}

.row {
  padding: 0;
}

.border-row {
  margin-top: 5px;
}

.border-col {
  margin-left: 5px;
}

.filled {
  /*background-color: lightgray;*/
  background: #e3e3e3;
}

#buttons {
  margin-top: 15px;
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
}

#buttons > button {
  width: 100%;
  height: 30px;
  margin-top: 5px;
}

.panel {
  background-color: #f8f3d4;
  padding: 30px 50px 30px 50px;
  border-radius: 50px;
  color: black;
}

button {
  background-color: #ffde7d;
  border: none;
  border-radius: 10px;
  margin: 0;
}

button:hover:enabled {
  background-color: #e6c870;
}

#loading {
  color: black;
  margin-top: 10px;
  font-size: 15px;
}

#instructions-button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  padding: 5px;
}

#instructions-panel {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 50vw;
  padding: 15px 25px;
  opacity: 0.9;
}

#instructions li > p {
  margin: 0;
  position: relative;
  left: 4ch;
}

#instructions h2 {
  font-size: 30px;
}

#instructions ol {
  text-align: left;
  font-size: 18px;
}

.note {
  font-style: italic;
}

#close-button {
  position: absolute;
  left: 25px;
  top: 25px;
}

/*
The following fade in code was taken from here:
https://medium.com/cloud-native-the-gathering/how-to-use-css-to-fade-in-and-fade-out-html-text-and-pictures-f45c11364f08
*/

.fade-in {
  animation: fadeIn ease 0.8s;
  -webkit-animation: fadeIn ease 0.8s;
  -moz-animation: fadeIn ease 0.8s;
  -o-animation: fadeIn ease 0.8s;
  -ms-animation: fadeIn ease 0.8s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.9;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.9;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.9;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.9;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.9;
  }
}
